.hero {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url('https://res.cloudinary.com/diydpxavd/image/upload/v1762857137/massage_table_endsdn.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    position: relative;
  }
  
  .hero-content {
    max-width: 800px;
    padding: 2rem;
  }
  
  .hero-content h1 {
    font-size: 5rem;
    color: #e67e22;
    margin-bottom: 2rem;
    margin-top: 0;
    font-family: var(--font-tertiary);
    text-shadow: rgba(0, 0, 0, 0.4) 0px 4px 5px;
  }
  
  .specialties {
    margin-bottom: 2rem;
  }
  
  .specialists {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    text-decoration: underline;
  }
  
  .specialties h2 {
    font-size: 2rem;
    margin: 0.5rem 0;
    font-family: var(--font-tertiary);
  }
  
  .tagline {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    font-family: var(--font-secondary);
  }
  
  .relax { color: #4CAF50; font-weight: bold; }
  .renew { color: white; font-weight: bold; }
  .revive { color: #2196F3; font-weight: bold; }
  
  .cta-button {
    display: inline-block;
    padding: 1rem 2rem;
    background-color: #e67e22;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-bottom: 1rem;
  }
  
  .cta-button:hover {
    background-color: #d35400;    
  }  

  .rounded-award {
    border-radius: 50%;
}

  /* Add media queries for h1 and mobile video */
@media screen and (max-width: 768px) {
  .hero {
    position: relative;
  }
  
  .hero-video-mobile {
    display: block;
  }
  
  .hero-content h1 {
      font-size: 3.5rem;
      margin-top: -200px;
  }
  .specialties h2 {
    font-size: 1.5rem;
  }
  .specialists{
    font-size: 1rem;
  }
}